<footer class="mt-5">
    <div class="container-fluid bg-faded mt-5 " style="background-color:#212121;">
        <div class="container">
            <div class="row py-3">
                <!-- footer column 1 start -->
                <div class="col-md-4">
                    <!-- row start -->
                    <div class="row py-2">
                        <div class="col-sm-3 hidden-md-down">
                            <img src="../css/kevin-goldenfold.jpg" style="width:70px; height:70px; 	
                            border-radius: 50%;" alt="">
                            <a class="bg-circle" href="#">
                                <i class="fa fa-2x fa-fw fa-twitter" aria-hidden="true "></i>
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <h4>Kévin Ceyland</h4>
                        </div>
                    </div>
                    <!-- row end -->
                </div>
                <!-- footer column 1 end -->
                <!-- footer column 2 start -->
                <div class="col-md-4">
                    <!-- row start -->
                    <div class="row py-2">
                        <div class="col-sm-3 hidden-md-down">
                            <img src="../css/gary-timothe.jpg" style="width:70px; height:70px; 	
                            border-radius: 50%;" alt="">
                            <a class="bg-circle" href="#">
                                <i class="fa fa-2x fa-fw fa-address-card" aria-hidden="true "></i>
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <h4>Timothé Torres</h4>
                        </div>
                    </div>
                    <!-- row end -->
                    <!-- row start -->
                    <!-- row end -->
                </div>
                <!-- footer column 2 end -->
                <!-- footer column 3 start -->
                <div class="col-md-4">
                    <!-- row starting  -->
                    <div class="row py-2">
                        <div class="col-sm-3 hidden-md-down">
                            <img src="../css/morty-ruben.jpg" style="width:70px; height:70px; 	
                            border-radius: 50%;" alt="">
                            <a class="bg-circle" href="#">
                                <i class="fa fa-2x fa-fw fa-file-pdf-o" aria-hidden="true "></i>
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <h4>Ruben Reis Fonseca</h4>
                            </p>

                        </div>
                    </div>
                </div>
                <!-- footer column 3 end -->
            </div>
        </div>
        <center>
            <p class="text-white" style="font-size:50px;">All Rights Reserved - VieSite © </p>
        </center>
    </div>
</footer>