{% extends 'base.html.twig' %}

{% block title %} Création d'un nouveau visiteur{% endblock %} 

{% form_theme form _self %} 

{% block body %}

<div class="container">
    <h1>Crée une nouveau visiteur </h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}<!--afficher le champ lui meme sans titre-->

   {% endblock %}
    
        <button type="submit" class="btn btn-primary">Creer le visiteur</button>

    {{ form_end(form) }}
</div>

{% endblock %}

{% block javascripts %}

{% endblock %}