{% extends 'base.html.twig' %} {% block title %}Liste des profils{% endblock %} {% block body %}

<div class="bg">

</div>
<h1 class="title-h1">
    <center>Le profil de nos visiteurs !</center>
</h1>
<br>

<div class="container">


        <div class="jumbotron">
    
       <center><h5><i class="fa fa-search"></i><italic> Recherche Avancée</italic></h5></center>
       <br>

                {{form_start(search_form)}}

                <div class="form-row">

                    <div class="col">
                        {{form_row(search_form.lesecteur)}}
                    </div>

                    <div class="col">
                        {{form_row(search_form.ledepartement)}}
                    </div>

                    <div class="col-mt-3">
                        <button class="btn btn-primary" style="margin-top:28px;">Rechercher</button>
                    </div>

                </div>

                {{ form_end(search_form) }}
            
        </div>
</div>


<div class="container">
 
    <div class="row">
    {% if visiteurs | length > 0 %}
        {% for visiteur in visiteurs %} 
        
          {% include 'visiteur/_visiteur.html.twig'%} 
         
        {% endfor %}
    {% else %}
     <h6> <i class="fa fa-meh-o" style="font-size:20px; margin-left:390px;"></i>   Aucun resultat trouvé pour votre recherche</h6>
    {% endif %}

    </div>
</div>

{% endblock %}